.navbar{
    width: 89%;
    height: 10%;
    list-style-type: none;
    display: inline-flex;
}
.navbarchidren{
    text-decoration-line: none;
    color: white;
}
.nav_bar{
    margin-left: 15%;;
}
.content{
    width: 80%;
    border-right: 1px solid rgb(179, 176, 176) ;
}
.card{
    display: inline-flex;
}
.card-image{
    margin:3% 3%;
    width:80% ;
    border: 1px solid rgb(196, 193, 193);
}
.card-content{
    margin-top: 2%;
    font-size: 30px;
}
.body{
    display: inline-flex;
}
.popular-recipes{
    color: rgb(240, 86, 86);
    font-size: 25px;
    text-decoration-line: none;
    margin-top: 18%;
    
}
.sidebar{
    margin-left: 1%;
    border-right:border: 1px solid rgb(196, 193, 193);
    width: 30%;
}